# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\InteliJ\java_projects\spring_template_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
